@import url('reset.css');
@import url('variables.css');

body {
  font-family: var(--font-family);
}

/* loader */

.loader_container {
  display: flex;
  justify-content: center;
}

/* header */
.header_container {
  padding: 24px 101px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active {
  color: var(--spotlight-txt-color);
  border-bottom: 2px solid var(--spotlight-txt-color);
}
nav {
  width: 33%;
}

.header_list {
  display: flex;
  column-gap: 32px;
}

.header_list_item {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 24px;
}

.currency_cart_wrapper {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 22px;
  padding-bottom: 24px;
}
.logo_img {
  padding-bottom: 24px;
  cursor: pointer;
}

/* product listing */

.products_container {
  padding: 80px 101px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.products_category_title {
  font-size: 42px;
  text-transform: uppercase;
}

.products_cards_container,
.fav_items_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.product_card_wrapper {
  position: relative;
}
.product_card {
  width: 386px;
  height: 444px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product_card:hover {
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product_card_img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: top center;
}

.out_of_stock {
  opacity: 0.6;
}

.out_of_stock_txt {
  position: absolute;
  font-size: 1.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add_to_fav {
  cursor: pointer;
  font-size: 0.8em;
  color: white;
  padding: 15px;
  border-radius: 50%;
  background-color: var(--red);
  position: absolute;
  top: 80%;
  left: 85%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.5s box-shadow linear;
  transition: 0.5s all linear;
}

.add_to_fav.not_fav {
  background-color: transparent;
  color: var(--red);
}

.add_to_cart:hover {
  box-shadow: rgba(74, 71, 111, 0.4) 0px 8px 24px;
}

/* currency dropdown */
.currency_drop_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currency_drop_visible_wrapper {
  display: flex;
  column-gap: 10px;
  cursor: pointer;
}

.currency_drop_list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 82px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
}
.currency_drop_list_item {
  font-size: 0.8em;
  display: flex;
  column-gap: 5px;
  cursor: pointer;
  padding: 10px 30px 10px 20px;
}

.currency_drop_list_item:hover {
  background-color: rgba(149, 157, 165, 0.2);
}

.hidden {
  display: none;
}

/* favs and cart header  */

.favs_container,
.carts_container {
  position: relative;
  border: none;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  position: absolute;
  font-weight: bold;
  top: -6px;
  left: 12px;
  color: white;
  background-color: var(--red);
  border-radius: 50%;
  padding: 4px;
  width: 15px;
  height: 15px;
}

/* prod page */

.product_page_container {
  padding: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.product_images_list {
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  align-items: flex-start;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
}

.product_images_list_item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product_images_list_item {
  width: 80px;
}

.product_images_list::-webkit-scrollbar {
  width: 5px;
}

.product_images_list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.product_images_list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.product_images_list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.product_spotlight_image {
  max-width: 30%;
}
.product_section_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.product_info {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.product_brand {
  font-size: 1.5em;
  font-weight: bold;
}
.product_name {
  font-size: 1.2em;
}

.product_description {
  font-size: 0.8em;
}

.product_price_label,
.product_price,
.attribute_name {
  text-transform: uppercase;
  font-weight: bold;
}

.select_msg {
  color: var(--red);
}

.btn.product_page_add_to_cart {
  width: 200px;
  border: none;
  background-color: var(--spotlight-txt-color);
  padding: 12px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.btn.product_page_add_to_cart:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn.product_page_add_to_cart.out_of_stock {
  cursor: default;
}

.attributes_values {
  display: flex;
  column-gap: 10px;
}
.attribute {
  width: 50px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  padding: 5px;
  transition: border 0.5s ease;
}

.attribute.selected {
  border: 1px solid var(--spotlight-txt-color);
}
.attribute.swatch {
  width: 20px;
  height: 20px;
}
