@import url('reset.css');
@import url('variables.css');

body {
  font-family: var(--font-family);
}

.App {
  position: relative;
}

/* scrollbar */

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* loader */

.loader_container {
  display: flex;
  justify-content: center;
}

/* header */
.header_container {
  padding: 24px 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}
.active {
  color: var(--spotlight-txt-color);
}
nav {
  width: 33%;
}

.header_list {
  display: flex;
  column-gap: 32px;
}

.header_list_item {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  transition: color 0.2s ease-in-out;
}

.header_list_item:hover {
  color: var(--spotlight-txt-color);
}

.currency_cart_wrapper {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 22px;
}

.logo_img {
  transition: transform 0.3s ease-in-out;
}
.logo_img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.header_list_item.active::before {
  position: absolute;
  background-color: var(--spotlight-txt-color);
  content: '';
  width: 100%;
  height: 2px;
  bottom: -38px;
}

/* product listing */

.products_container {
  height: calc(100vh - 89px);
  overflow-y: auto;
  scroll-behavior: smooth;

  margin-top: 89px;
  padding: 80px 101px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.products_category_title {
  font-size: 42px;
  text-transform: uppercase;
}

.products_cards_container,
.fav_items_container,
.cart_items_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.product_card_wrapper {
  position: relative;
}
.product_card {
  width: 386px;
  height: 444px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product_card:hover {
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product_card_img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: top center;
}

.out_of_stock {
  opacity: 0.6;
}

.out_of_stock_txt {
  position: absolute;
  font-size: 1.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add_to_fav,
.delete_from_fav {
  cursor: pointer;
  font-size: 0.8em;
  color: white;
  padding: 15px;
  border-radius: 50%;
  background-color: var(--red);
  position: absolute;
  top: 80%;
  left: 85%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.5s all linear;
}

.add_to_fav.not_fav {
  background-color: transparent;
  color: var(--red);
}

.add_to_cart:hover,
.delete_from_fav:hover,
.delete_from_cart:hover {
  box-shadow: rgba(74, 71, 111, 0.4) 0px 8px 24px;
}

/* currency dropdown */
.currency_drop_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.currency_drop_container:hover {
  cursor: pointer;
}

.currency_drop_visible_wrapper {
  display: flex;
  column-gap: 10px;
  cursor: pointer;
}

.currency_drop_list {
  z-index: 100;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 82px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
}
.currency_drop_list_item {
  font-size: 0.8em;
  display: flex;
  column-gap: 5px;
  cursor: pointer;
  padding: 10px 30px 10px 20px;
}

.currency_drop_list_item:hover {
  background-color: rgba(149, 157, 165, 0.2);
}

.hidden {
  display: none;
}

/* favs and cart header  */

.favs_container,
.carts_container {
  position: relative;
  border: none;
  transition: all 0.3s ease-in-out;
}

.favs_container:hover,
.carts_container:hover {
  cursor: pointer;
  color: var(--spotlight-txt-color);
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  position: absolute;
  font-weight: bold;
  top: -6px;
  left: 12px;
  color: white;
  background-color: var(--red);
  border-radius: 50%;
  padding: 4px;
  width: 15px;
  height: 15px;
}

/* prod page */

.product_page_container {
  height: calc(100vh - 89px);
  overflow-y: auto;
  scroll-behavior: smooth;

  margin-top: 89px;
  padding: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.product_images_list {
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  align-items: flex-start;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
  padding-right: 8px;
}

.product_images_list_item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product_images_list_item {
  width: 80px;
}

.product_images_list::-webkit-scrollbar {
  width: 5px;
}

.product_images_list::-webkit-scrollbar-track {
  background: transparent;
}

.product_images_list::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border-radius: 5px;
}

.product_spotlight_image {
  max-width: 30%;
}
.product_section_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.product_info {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.product_brand {
  font-size: 1.5em;
  font-weight: bold;
}
.product_name {
  font-size: 1.2em;
}

.product_description {
  font-size: 0.8em;
}

.product_price_label,
.product_price,
.attribute_name {
  text-transform: uppercase;
  font-weight: bold;
}

.select_msg {
  color: var(--red);
}

.btn.product_page_add_to_cart {
  width: 200px;
  border: none;
  background-color: var(--spotlight-txt-color);
  padding: 12px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.btn.product_page_add_to_cart:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn.product_page_add_to_cart.out_of_stock {
  cursor: default;
}

.attributes_values {
  display: flex;
  column-gap: 10px;
}
.attribute {
  width: 50px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}

.attribute.swatch.selected {
  border: 1px solid var(--spotlight-txt-color);
  box-shadow: rgba(186, 185, 185, 0.6) 0px 3px 5px;
}
.attribute.selected {
  border: none;
  background-color: #000;
  color: #fff;
}
.attribute.swatch {
  width: 20px;
  height: 20px;
}

/* fav page */
.fav_items_container,
.cart_items_container {
  height: calc(100vh - 89px);
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-top: 89px;
  padding: 0 50px 50px 50px;
}

/* cart page */
.cart_items_title {
  font-size: 1.5em;
  padding: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.cart_items_container {
  gap: 0px;
  padding-block: 30px 50px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.empty_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.empty_cart_img {
  width: 250px;
}

.empty_cart.title {
  font-size: 1.5em;
  font-weight: bold;
}

.cart_product_card_wrapper {
  border-top: 1px solid var(--border-color);
  width: 100%;
  padding: 20px;
  position: relative;
}
.cart_product_card_btn_wrapper {
  position: absolute;
  color: var(--scroll-color);
  display: flex;
  column-gap: 15px;
}

.cart_product_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_product_card_content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.cart_product_card_img {
  width: 250px;
}

.attribute_name.cart {
  font-size: 0.7em;
}

.product_card_brand,
.product_card_price {
  font-size: 1.1em;
  font-weight: 700;
}
